server {
    listen      80;

    # security
    include     nginxconfig.io/security.conf;

    # logging
    access_log  /var/log/nginx/access.log cloudflare;

    # Docker DNS Resolver
    resolver 127.0.0.11;

    # reverse proxy
    location / {
        set                   $upstream ealen-echo-server;
        proxy_pass            http://$upstream;
        proxy_set_header Host $host;
        include               nginxconfig.io/proxy.conf;
    }

    # additional config
    include nginxconfig.io/general.conf;
}
